div#info-bank-transfer,
div#info-credit-card {
	display: none;
}

div#payment-choice {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}