{% extends "base/base.html" %}
{% load get_index multiply i18n %}

{% block css %}
.form-token {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.form-token .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-token .form-control:focus {
  z-index: 2;
}
.form-token input[type="text"] {
  margin-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
{% endblock %}

{% block content %}

      <div class="row">
        <div class="{% if cart %}col-md-7{% else %}col-md-12{% endif %}">
          {% if quota or merchandise %}
            <h2>{% trans "Preorder tickets"%}</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>{% trans "Ticket type"%}</th>
                    <th>{% trans "Price"%}</th>
                    <th style="width:150px;">{% trans "Add to cart" %}</th>
                  </tr>
                </thead>
                <tbody>

                {% for q in quota %}
                  <tr>
                    <td style="vertical-align:middle;">
                      <span style="font-size: larger;">{{q.ticket.name}}</span>
                    </td>
                    <td style="vertical-align:middle;">
                      {{q.ticket.price}} {{q.ticket.currency}} {% trans "(incl. tax)"%}
                    </td>
                    <td>
                        <form style="margin:0" action="{% url "cart-add" %}" method="post" role="form">
                        {% csrf_token %}
                        <input type="hidden" value="{{q.quota.pk}}" name="quota" />
                        <input type="hidden" value="1" name="amount" />
                        <button type="submit" class="btn-success btn btn-block">{% trans "Add to cart"%}</button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

              {% if settings.EVENT_TICKET_INFO %}
              <p>{{settings.EVENT_TICKET_INFO|safe}}</p>
              {% endif %}

              {% if merchandise %}
              <h2>{% trans "Merchandise" %}</h2>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>{% trans "Type"%}</th>
                    <th>{% trans "Size &amp; Price"%}</th>
                    <th style="width:150px">{% trans "Add to cart" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for m in merchandise %}
                  <tr>
                    <td style="vertical-align:middle;">
                      <span style="font-size: larger;">{{m.name}}</span>
                      {% spaceless %}
                      {% if m.detail_url or m.detail_text %}
                        <br /><small>
                        {% if m.detail_url %}
                          <a href="{{m.detail_url}}">
                        {% endif %}
                        {% if m.detail_url %}
                          {% if m.detail_text %}
                            {# url given + text given #}
                            {{m.detail_text|safe}}
                          {% else %}
                            {# url given + no text given #}
                            more details
                          {% endif %}
                        {% else %}
                          {# no url given #}
                          {% if m.detail_text %}
                            {# no url given + text given #}
                            {{m.detail_text|safe}}
                          {% endif %}
                        {% endif %}
                        {% if m.detail_url %}
                          </a>
                        {% endif %}
                        </small>
                      {% endif %}
                      {% endspaceless %}
                    </td>
                    <td style="vertical-align:middle;">
                      <form style="margin:0" action="{% url "cart-add" %}" method="post">
                      <select name="quota" class="form-control">
                        {% for t in m.tshirt_set.all %}
                          <option value="{{ tshirt_quota|get_index:t.pk }}">{{t.tshirt.type}} {{t.tshirt.size}} {{t.tshirt.price}} {{t.tshirt.currency}} {% trans "(incl. tax)"%}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td style="text-align:right;">
                      <div class="form-search">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="1" />
                        <button type="submit" class="btn-success btn btn-block">{% trans "Add to cart"%}</button>
                      </div>
                      </form>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          {% else %}
            <div class="alert alert-warning">
             {% trans "There are no tickets on sale right now." %}
            </div>
          {% endif %}
          </div>

          {% if cart %}
          <div class="col-md-5">
              <h2>Your cart</h2>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="max-width:50px">#</th>
                    <th>{% trans "Ticket"%}</th>
                    <th>{% trans "Price"%}</th>
                    <th>{% trans "Total"%}</th>
                    <th style="width:150px"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in cart %}
                    <tr>
                      <td style="vertical-align:middle;">{{c.amount}}x</td>
                      <td style="vertical-align:middle;">{{c.quota.ticket.name}}</td>
                      <td style="vertical-align:middle;">{{c.quota.ticket.price}}&nbsp;{{c.quota.ticket.currency}}<br /><small>{% trans "(incl. tax)"%}</small></td>
                      <td style="vertical-align:middle;">{{c.quota.ticket.price|multiply:c.amount|floatformat:2}}&nbsp;{{c.quota.ticket.currency}}<br/><small>{% trans "(incl. tax)"%}</small></td>
                      <td style="text-align:right;">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <form action="{% url "cart-amend" %}" method="post">
                              {% csrf_token %}
                              <input type="hidden" value="{{c.quota.pk}}" name="quota" />
                              <input type="hidden" name="amount" value="{{c.amount|add:1}}" />
                              <button type="submit" class="btn-success btn btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                              </button>
                              </form>
                            </span>
                            <span class="input-group-btn">
                              <form action="{% url "cart-amend" %}" method="post">
                              {% csrf_token %}
                              <input type="hidden" value="{{c.quota.pk}}" name="quota" />
                              <input type="hidden" name="amount" value="{{c.amount|add:"-1"}}" />
                              <button type="submit" class="btn-danger btn btn-sm">
                                <span class="glyphicon glyphicon-minus"></span>
                              </button>
                              </form>
                            </span>
                          </div>
                        </form>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="3">
                        {% trans "Your cart is empty. :-("%}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <form action="{% url "checkout" %}" method="get" style="float:right;">
                <button type="submit" class="btn btn-primary btn-lg">
                  <span class="glyphicon glyphicon-shopping-cart glyphicon-white"></span> {% trans "Proceed to checkout"%}
                </button>
              </form>
        </div>
        {% endif %}
      </div>

      <div class="clearfix hide-sm" style="height: 20px;"></div>

      <div class="row">
        {% if not cart %}
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Golden Token</h3>
            </div>
            <div class="panel-body">
              <p>
                {% trans "If you are a conference speaker, member of the press or otherwise invited guest, we may have given you a Golden Token. You can redeem this here:" %}
              </p>
              <form class="form-token form-horizontal" method="POST" action="{% url "redeem-token" %}" role="form">
                {% csrf_token %}
                <div class="form-group">
                  <div class="col-xs-12">
                    <input name="token" type="text" class="form-control" placeholder="{% trans "Golden Token"%}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block">{% trans "Redeem"%}</button>
                  </div>
                </div>
             </form>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        {% else %}
        <div class="col-md-12" style="text-align: center;">
          <p>
            <em>{% trans "Clear your cart in order to redeem a <strong>Golden Token</strong>. Any account can either redeem a token or place a regular preorder."%}</em>
          </p>
        </div>
        {% endif %}
      </div>
{% endblock %}
