{% extends "base/base.html" %}
{% load multiply get_index tax_calc i18n %}

{% block content %}
      <div class="row">
        <div class="span12">
          {% if cart %}
            <h2>{% trans "Your cart" %}</h2>

            <table class="table table-striped table-bordered">
              <tr>
                <th style="width:50px">{% trans "Amount"%}</th>
                <th>{% trans "Ticket type"%}</th>
                <th style="width:200px">{% trans "Price per ticket"%}</th>
                <th style="width:200px">{% trans "Price"%}</th>
              </tr>

              {% for c in cart %}
                <tr>
                  <td style="vertical-align:middle;">{{c.amount}}x</td>
                  <td style="vertical-align:middle;">{{c.quota.ticket.name}}</td>
                  <td style="vertical-align:middle;">{{c.quota.ticket.price|floatformat:2}} {{c.quota.ticket.currency}} (incl. {{c.quota.ticket.tax_rate}}% tax)<br />
                  <span style="font-size:x-small">{{c.quota.ticket.price|tax_calc:c.quota.ticket.tax_rate|floatformat:2}} {{c.quota.ticket.currency}} (excl. {{c.quota.ticket.tax_rate}}% tax)</span></td>
                  <td style="vertical-align:middle;">{{c.quota.ticket.price|multiply:c.amount|floatformat:2}} {{c.quota.ticket.currency}} (incl. {{c.quota.ticket.tax_rate}}% tax)<br />
                  <span style="font-size:x-small">{{c.quota.ticket.price|multiply:c.amount|tax_calc:c.quota.ticket.tax_rate|floatformat:2}} {{c.quota.ticket.currency}} (excl. {{c.quota.ticket.tax_rate}}% tax)</span></td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">
                    {% trans "Your cart is empty. :-("%}"
                  </td>
                </tr>
              {% endfor %}

              {% for t in totals %}
                <tr>
                  <th colspan="3" style="vertical-align:top;text-align:right">Total</th>
                  <th>
                    {{t.total|floatformat:2}} {{t.currency}}<br />
                    {% for tax in t.taxes %}
                      <span style="font-size:x-small">{% blocktrans with tax_rate=tax.rate%}incl. {{tax_rate}}% taxes:{%endblocktrans%} {{tax.amount|floatformat:2}} {{t.currency}}</span><br />
                    {% endfor %}

                  </th>
                </tr>
              {% endfor %}
            </table>

            <form action="{% url "order" %}" method="POST" class="form-horizontal">
              {% if single_ticket_over_limit %}
                <div id="billingaddress">
                  <p>{% blocktrans with limit=limit %}
                    Since one single ticket in your cart is over or equal {{limit}},- you are able to give a billig address which will be printed on your ticket / invoice.
                    {% endblocktrans %}</p>
                  <legend style="width:250px;">{% trans "Billig address" %}</legend>
                  <div class="control-group">
                    <label class="control-label" for="company">{% trans "Company" %}</label>
                    <div class="controls">
                      <input type="text" name="company" id="company" placeholder="{% trans "Company" %}">
                    </div>
                  </div>
                  <div class="control-group {% if form.firstname.errors %}error{% endif %}">
                    <label class="control-label" for="firstname">{% trans "First name" %}</label>
                    <div class="controls">
                      <input type="text" name="firstname" id="firstname" placeholder="{% trans "First name" %}">
                      {% for e in form.firstname.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="control-group {% if form.lastname.errors %}error{% endif %}" >
                    <label class="control-label" for="lastname">{% trans "Last name" %}</label>
                    <div class="controls">
                      <input type="text" name="lastname" id="lastname" placeholder="{% trans "Last name" %}">
                      {% for e in form.lastname.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="control-group {% if form.address1.errors %}error{% endif %}">
                    <label class="control-label" for="address1">{% trans "Address" %}</label>
                    <div class="controls">
                      <input type="text" name="address1" id="address1" placeholder="{% trans "Address" %}">
                      {% for e in form.address1.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="control-group {% if form.address2.errors %}error{% endif %}">
                    <div class="controls">
                      <input type="text" name="address2" id="address2" placeholder="{% trans "Address" %}">
                      {% for e in form.address2.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="control-group {% if form.city.errors %}error{% endif %}">
                    <label class="control-label" for="city">{% trans "City" %}</label>
                    <div class="controls">
                      <input type="text" name="city" id="city" placeholder="{% trans "City" %}">
                      {% for e in form.city.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="control-group {% if form.zip.errors %}error{% endif %}">
                    <label class="control-label" for="zip">{% trans "ZIP" %}</label>
                    <div class="controls">
                      <input type="text" name="zip" id="zip" placeholder="{% trans "ZIP" %}">
                      {% for e in form.zip.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="control-group {% if form.country.errors %}error{% endif %}">
                    <label class="control-label" for="country">{% trans "Country" %}</label>
                    <div class="controls">
                      <input type="text" name="country" id="country" placeholder="{% trans "Country" %}">
                      {% for e in form.country.errors %}
                        <span class="help-inline">{{e}}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <br style="clear:both;" />
              {% endif %}
              {% csrf_token %}
              <div style="float:right;">
                {% if single_ticket_over_limit %}
                <div style="float:left;margin-right: 30px;margin-top:0px;">
                  <label class="checkbox">
                    <input name="without_billingaddress" value="yes" type="checkbox"> {% trans "Proceed without billing address" %}<br />
                    <small style="font-size:11px;">{% trans "You will still be able to provide your billing address when printing your tickets." %}</small>
                  </label>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> {% trans "Preorder these tickets"%}</button>
              </div>
            </form>

          {% else %}
            <h2>{% trans "Your cart is empty."%}</h2>
            <div class="alert alert-warning">
             {% trans "Well.. your cart is empty. What do you want to checkout then?"%}
            </div>
          {% endif %}
         </div>
      </div>
{% endblock %}
