{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

	<div class="row">
    	<div class="span6">
			<h2>{% trans "Password reset"%}</h2>

			<form class="well form-search" method="POST" action="">
			{% csrf_token %}	
			{% for field in form %}
			<input name="{{field.html_name}}" type="password" class="input-medium" placeholder="{{field.label}}" value="{% if field.value %}{{field.value}}{% endif %}">
			{% endfor %}
			<button type="submit" class="btn btn-primary">{% trans "Proceed.."%}</button>
			</form>

			{% if form.errors %}
			<div class="alert alert-error">
				{% trans "Your attempt has failed. Please try again or contact our support."%}
			</div>
			{% endif %}			
		</div>		
	</div>
 
{% endblock %}