{% extends "base/base.html" %}

{% block content %}

      <div class="row">
        {% include "base/admin_subnav.html" %}

        <div class="span10">
          <p>Nunc lorem ante, pharetra et fermentum non, blandit sit amet lectus. Integer orci diam, tempor id dignissim sed, fermentum mattis magna. Sed tempor diam eu velit eleifend sit amet pretium sem dictum. Aenean non nibh nec nulla scelerisque lobortis eget eu velit. Donec condimentum tincidunt mi, a vestibulum lorem accumsan vitae. Nunc quis orci mi, id mollis eros. Nulla iaculis faucibus sapien, sed tempor ipsum dapibus a. Vivamus condimentum varius risus et rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget enim eget dui consectetur aliquam vitae imperdiet est. Morbi molestie tellus sit amet arcu imperdiet tincidunt.</p>
        </div>
      </div>
{% endblock %}