{% load i18n %}
<div class="row">
	<div class="col-md-12">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li {% if subnav == "default" %}class="active"{% endif %}><a href="{% url "admin" %}">{% trans "Overview" %}</a></li>
				<li {% if subnav == "statistics" %}class="active"{% endif %}><a href="{% url "admin-statistics" %}">{% trans "Statistics" %}</a></li>
				<li {% if subnav == "import_csv" %}class="active"{% endif %}><a href="{% url "admin-import-csv" %}">{% trans "Import CSV"%}</a></li>
			</ul>
		</div>
	</div>
</div>
