{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
				  <h3 class="panel-title">{% trans "Password reset" %}</h3>
				</div>
				<div class="panel-body">
					<p>{% trans "An email address is required if you'd like to receive preorder status update notifications."%}</p>
					{% if form.errors %}
					<div class="alert alert-danger">
						{% trans "Your attempt has failed. Please try again or contact our support."%}
					</div>
					{% endif %}
					<form action="{% url "password-reset" %}" method="post" role="form" class="form-inline">
						{% csrf_token %}
						{% for field in form %}
						<div class="form-group">
							<label for="inputEmail" class="sr-only">{{field.label}}</label>
							<div class="col-md-12 {% if form.email.errors %}has-error{% endif %}">
								<input type="text" class="form-control" id="inputEmail" name="{{field.html_name}}" placeholder="{% trans "Email address" %}"  value="{% if field.value %}{{field.value}}{% endif %}">
								{% for e in form.email.errors %}
								<span class="help-block">{{e}}</span>
								{% endfor %}
							</div>
						</div>
						{% endfor %}
						<button type="submit" class="btn btn-warning">{% trans "Recover password"%}</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
