{% extends "base/base.html" %}
{% load i18n %}

{% block css %}
.form-changepw {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.form-changepw .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
.form-changepw .form-control:focus {
  z-index: 2;
}
.form-changepw input#new_password1 {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-changepw input#new_password2 {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
				  <h3 class="panel-title">{% trans "Password reset" %}</h3>
				</div>
				<div class="panel-body">
					<p>{% trans "Reset your login password using this form."%}</p>
					{% if form.errors %}
					<div class="alert alert-danger">
						{% trans "Your attempt has failed. Please try again or contact our support."%}
					</div>
					{% endif %}
					<form class="form-changepw" action="" method="post" role="form">
						{% csrf_token %}
						{% for field in form %}
						<div class="control-group">
							<label for="{{field.html_name}}" class="sr-only">{{field.label}}</label>
								<input type="password" class="form-control" id="{{field.html_name}}" name="{{field.html_name}}" placeholder="{{field.label}}">
						</div>
						{% endfor %}
						<button class="btn btn-lg btn-warning btn-block" type="submit">{% trans "Change password" %}</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
