{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

	{% if success %}
		<div class="alert alert-success">
		{{success|safe}}
		</div>
	{% endif %}

	<div style="margin-bottom:20px">
		<h1>{% trans "Hello, "%}{{request.user}}!</h1>
	</div>

	<div class="row">
    	<div class="span6">
			<h2>{% trans "Email address"%}</h2>
			<p>{% trans "An email address is required for preorder status update notifications."%}</p>
			<form action="{% url account %}?form=email" method="post">
				{% csrf_token %}
				<div style="float:right">
					<button type="submit" class="btn btn-primary">{% trans "Save email address"%}</button> <span class="help-inline"><!-- Whoohoo. --></span>
				</div>	   				
				<div class="control-group {% if form.email.errors %}error{% endif %}">
					<div class="input-prepend">
					   <span class="add-on"><i class="icon-envelope"></i></span>
					   <input value="{% if not form.email.value %}{% if request.user.email %}{{request.user.email}}{% endif %}{% else %}{{form.email.value}}{% endif %}" type="text" name="email" class="input-large" id="id_email">
					</div>
					{% for e in form.email.errors %}
						<span class="help-inline">{{e}}</span>
					{% endfor %}
				</div>
			</form>
		</div>
    	<div class="span6">

    		{% if form.non_field_errors %}
    			<div class="alert alert-error">
    				{%for e in form.non_field_errors%}
    					{{e}}
    				{% endfor %}
    			</div>
    		{% endif %}

			<h2>{% trans "Password"%}</h2>
			<p>{% trans "Change your login password using this form."%}</p>
			<form action="{% url account %}?form=password" method="post">
				{% csrf_token %}
				<div style="float:right">
					<button type="submit" class="btn btn-primary">{% trans "Save new password"%}</button> <span class="help-inline"><!-- Whoohoo. --></span>
				</div>	   				
				<div class="control-group {% if form.old_password.errors %}error{% endif %}" style="margin-bottom:5px">
					<div class="input-prepend" style="margin-bottom:0px">
					   <span class="add-on"><i class="icon-lock"></i></span>
					   <input value="" type="password" name="old_password" class="input-large" id="id_old_password" style="margin-bottom:0px" placeholder="Current password">
					</div>
					{% for e in form.old_password.errors %}
						<span class="help-inline" style="margin-bottom:0px">{{e}}</span>
					{% endfor %}
				</div>
				<div class="control-group {% if form.new_password1.errors %}error{% endif %}"  style="margin-bottom:5px">
					<div class="input-prepend" style="margin-bottom:0px">
					   <span class="add-on"><i class="icon-lock"></i></span>
					   <input value="" type="password" name="new_password1" class="input-large" id="id_newpassword1" style="margin-bottom:0px" placeholder="New password">
					</div>
					{% for e in form.new_password1.errors %}
						<span class="help-inline" style="margin-bottom:0px">{{e}}</span>
					{% endfor %}
				</div>
				<div class="control-group {% if form.new_password2.errors %}error{% endif %}" style="margin-bottom:5px">
					<div class="input-prepend" style="margin-bottom:0px">
					   <span class="add-on"><i class="icon-lock"></i></span>
					   <input value="" type="password" name="new_password2" class="input-large" id="id_new_password2" style="margin-bottom:0px" placeholder="..repeat">
					</div>
					{% for e in form.new_password2.errors %}
						<span class="help-inline" style="margin-bottom:0px">{{e}}</span>
					{% endfor %}
				</div>
			</form>
		</div>		
	</div>
 
{% endblock %}