{% extends "base/base.html" %}
{% load i18n %}
{% load multiply timedelta %}

{% block javascript %}
  <script type="text/javascript">
    var PAYMILL_PUBLIC_KEY = '247143670284eea4cc5fb5b2c079d425';
  </script>
  <script type="text/javascript" src="https://bridge.paymill.com/"></script>
  <script type="text/javascript" src="{{settings.MEDIA_URL}}js/payments.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{settings.MEDIA_URL}}css/payments.css">
{% endblock %}

{% block content %}
      <div class="row">
        <div class="span5">
          {% if has_unpaid_preorders %}
          <h2>{% trans "Payment information" %}</h2>

          <p>{% trans "Please choose your prefered method of payment:" %}</p>


          <ul class="nav nav-tabs">
            <li>
              <a href="#" id="choice-credit-card">{% trans "Credit Card" %}</a>
            </li>
            <li>
              <a href="#" id="choice-bank-transfer">{% trans "Bank Transfer" %}</a>
            </li>
          </ul>

          <div id="info-bank-transfer">
            {% if preorders %}
              <p>{% trans "Thanks for your preorder. Please transfer the total amount (see right) to:"%}</p>
              <pre>{{settings.EVENT_PAYMENT_DETAILS}}<br /><br />{% for p in preorders %}Reference: <strong>{{settings.EVENT_PAYMENT_PREFIX}}-{{p.get_reference_hash}}</strong><br />{% endfor %}</pre>
            {% else %}
              {% trans "Here be payment information after you preordered tickets."%}
            {% endif %}
          </div>

          <div id="info-credit-card">
            <div class="payment-errors"></div>
            <form id="payment-form" action="/cc-payment/" method="POST">
              {% csrf_token %}
              <div class="form-row"><label>{% trans "Credit Card Number" %}
                <input class="card-number" type="text" size="20" placeholder="4111111111111111" /></label></div>

              <div class="form-row">
                <label>{% trans "CVC" %}
                  <input class="card-cvc" type="text" size="4" placeholder="123" />
                </label>
              </div>

              <div class="form-row">
                <label>{% trans "Card Owner" %}
                  <input class="card-holdername" type="text" size="4" placeholder="John Doe" />
                </label>
              </div>

              <div class="form-row"><label>{% trans "Valid till (MM/YYYY)" %}</label>
                <input class="card-expiry-month" type="text" size="2" placeholder="11" />
                <span></span>
                <input class="card-expiry-year" type="text" size="4" placeholder="2099" /></div>

              <button class="submit-button" type="submit">{% trans "submit" %}</button>

            </form>
          </div>
          {% else %}
          <h2>{% trans "Thank you for your payment!" %}</h2>
          {% endif %}
        </div>

        <div class="span7">
          <h2>{% trans "Your preorders"%}</h2>
            <table class="table table-striped table-bordered">
               <tr>
                <th style="width:100px">#</th>
                <th>{% trans "Payment required"%}</th>
                <th style="width:50px">{% trans "Paid?"%}</th>
              </tr>
              {% for p in preorders %}
                <tr>
                  <td>
                    {{p}}
                  </td>
                  <td style="vertical-align:middle;">
                  {% if p.paid %}<s>{% endif %}
                  {{p.payment_required_until|date:"d/m/Y"}} ({{p.payment_required_until|timedelta}})</s>
                  {% if p.paid %}</s>{% endif %}
                  </td>
                  <td style="vertical-align:middle;">{% if p.paid %}<i style="margin-top:1px" class="icon-ok"></i> {% trans "Yes"%}{% else %}<i style="margin-top:1px" class="icon-remove"></i> {% trans "No"%}{% endif %}</td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align:right">
                    {% if p.paid %}
                      <a class="btn btn-primary" href="{% url print-tickets p.pk p.unique_secret %}">{% trans "Download tickets / invoice"%}</a>
                    {% else %}
                      {% trans "You'll be able to download your ticket here as soon as it is marked as paid." %}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <table class="table table-condensed" style="margin:0">
                      <tr>
                        <th style="width:50px">{% trans "Amount"%}</th>
                        <th>{% trans "Ticket type"%}</th>
                        <th style="width:130px">{% trans "Price per ticket"%}</th>
                        <th style="width:155px">{% trans "Price"%}</th>
                      </tr>
                      {% for t in p.get_tickets %}
                      <tr>
                        <td style="vertical-align:middle;">{{t.amount}}x</td>
                        <td style="vertical-align:middle;">{{t.t.name}}</td>
                        <td style="vertical-align:middle;">
                          {% if p.paid and p.paid_via == 'goldentoken' %}
                            Golden token
                          {% else %}
                            {{t.t.price|floatformat:2}} {{t.t.currency}} (incl. tax)
                          {% endif %}
                        </td>
                        <td style="vertical-align:middle;">
                          {% if p.paid and p.paid_via == 'goldentoken' %}
                            Golden token
                          {% else %}
                            {{t.t.price|multiply:t.amount|floatformat:2}} {{t.t.currency}} (incl. tax)
                          {% endif %}
                          </td>
                      </tr>
                      {% endfor %}
                      {% for t in p.get_sale_amount %}
                        <tr>
                          <th colspan="3" style="vertical-align:top;text-align:right">{% trans "Total"%}</th>
                          <th>
                            {% if p.paid and p.paid_via == 'goldentoken' %}
                            Golden token
                            {% else %}
                              <span style="border-bottom: 3px double;">{{t.total|floatformat:2}} {{t.currency}}</span> (incl. tax)
                              <div style="margin-top:5px;line-height:0.9em;">
                              {% for tax in t.taxes %}
                                <span style="font-size:x-small;">incl. {{tax.rate}}% taxes: {{tax.amount|floatformat:2}} {{t.currency}}</span><br />
                              {% endfor %}
                              </div>
                            {% endif %}
                          </th>
                        </tr>
                      {% endfor %}
                    </table>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">
                    {% trans "You have no preorders yet."%}
                  </td>
                </tr>
              {% endfor %}
            </table>
         </div>
      </div>
{% endblock %}